In [1]:
from utils import process_new

Index(['Suburb', 'Rooms', 'Type', 'Method', 'Seller', 'Distance',
       'Two_bedroom_unit', 'Bathroom', 'Car', 'Landsize', 'BuildingArea',
       'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname',
       'Propertycount', 'Region', 'District', 'Month', 'Year'],
      dtype='object')
*************************
              Suburb  Rooms Type Method Seller  Distance  Two_bedroom_unit  \
6892    moonee_ponds      3    h      s   brad       6.9               3.0
9881  sunshine_north      4    h      s  barry      13.3               4.0

      Bathroom  Car  Landsize  ...  YearBuilt  CouncilArea Lattitude  \
6892       1.0  1.0     274.0  ...        NaN       moonee  -37.7641
9881       1.0  2.0     615.0  ...     1955.0     brimbank  -37.7675

      Longtitude            Regionname Propertycount        Region District  \
6892    144.9112  western metropolitan        6232.0  metropolitan  western
9881    144.8414  western metropolitan        4217.0  metropolitan  western

     Month  Year
6892     7  2016
9881    12  2016

[2 rows x 21 columns]

In [2]:
import numpy as np
import pandas as pd
vv=['moonee_ponds ',3 ,'h','s','brad',6.9,3.0,1.0,1.0,274.0 ,2017.0 ,200.0 ,'moonee',-37.7641,144.9112,'western metropolitan',6232.0, 'metropolitan','western',7,2016 ]

col=['Suburb', 'Rooms', 'Type', 'Method', 'Seller', 'Distance',
       'Two_bedroom_unit', 'Bathroom', 'Car', 'Landsize', 'BuildingArea',
       'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname',
       'Propertycount', 'Region', 'District','Month', 'Year']

In [11]:
df_new=pd.DataFrame([vv], columns=col)
df_new

,Suburb,Rooms,Type,Method,Seller,Distance,Two_bedroom_unit,Bathroom,Car,Landsize,...,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Region,District,Month,Year
0,moonee_ponds,3,h,s,brad,6.9,3.0,1.0,1.0,274.0,...,200.0,moonee,-37.7641,144.9112,western metropolitan,6232.0,metropolitan,western,7,2016

In [4]:

df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Suburb            1 non-null      object
 1   Rooms             1 non-null      int64
 2   Type              1 non-null      object
 3   Method            1 non-null      object
 4   Seller            1 non-null      object
 5   Distance          1 non-null      float64
 6   Two_bedroom_unit  1 non-null      float64
 7   Bathroom          1 non-null      float64
 8   Car               1 non-null      float64
 9   Landsize          1 non-null      float64
 10  BuildingArea      1 non-null      float64
 11  YearBuilt         1 non-null      float64
 12  CouncilArea       1 non-null      object
 13  Lattitude         1 non-null      float64
 14  Longtitude        1 non-null      float64
 15  Regionname        1 non-null      object
 16  Propertycount     1 non-null      float64
 17  Region            1 non-null      object
 18  District          1 non-null      object
 19  Month             1 non-null      int64
 20  Year              1 non-null      int64
dtypes: float64(10), int64(3), object(8)
memory usage: 300.0+ bytes

In [8]:
df_new['Suburb']= df_new['Suburb'].astype('object')
df_new['Rooms']= df_new['Rooms'].astype('int64')
df_new['Type']= df_new['Type'].astype('object')
df_new['Method']= df_new['Method'].astype('object')
df_new['Seller']= df_new['Seller'].astype('object')
df_new['Distance']= df_new['Distance'].astype('float')
df_new['Two_bedroom_unit']= df_new['Two_bedroom_unit'].astype('float64')
df_new['Bathroom']= df_new['Bathroom'].astype('float64')
df_new['Car']= df_new['Car'].astype('float64')
df_new['Landsize']= df_new['Landsize'].astype('float64')
df_new['BuildingArea']= df_new['BuildingArea'].astype('float64')
df_new['YearBuilt']= df_new['YearBuilt'].astype('float64')
df_new['CouncilArea']= df_new['CouncilArea'].astype('object')
df_new['Lattitude']= df_new['Lattitude'].astype('float64')
df_new['Longtitude']= df_new['Longtitude'].astype('float64')
df_new['Regionname']= df_new['Regionname'].astype('object')
df_new['Propertycount']= df_new['Propertycount'].astype('float64')
df_new['Region']= df_new['Region'].astype('object')
df_new['District']= df_new['District'].astype('object')
df_new['Month']= df_new['Month'].astype('int64')
df_new['Year']= df_new['Year'].astype('int64')

In [12]:
process_new(x_new=vv)

array([[-5.97190275e-02, -6.31167428e-01, -1.91471278e-01,
        -1.21733194e+00, -9.34492018e-01, -1.09056369e+00,
         1.06417571e+01, -6.59829599e+00,  2.77555756e-16,
        -8.66550069e-01, -1.06815658e-01,  2.42812342e-02,
        -1.09762199e-12,  3.90000000e+01,  0.00000000e+00,
         2.00000000e+00,  4.00000000e+00,  2.20000000e+01,
         6.00000000e+00, -1.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00]])